* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.container {
    display: flex;
    min-height: 100vh;
}

.main {
    width: 100%;
}

.sidebar {
    width: 240px;
    background-color: #111;
    color: #ccc;
    min-height: 100vh;
    padding-top: 10px;
    flex-shrink: 0;
}

.sidebar h2 input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 36px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    cursor: pointer;
    color: #151515;
    background: rgb(255, 42, 42);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
}

.sidebar h2 input[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}


input.edit-btn,
input.add-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.25s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input.edit-btn {
    background: linear-gradient(135deg, #fceabb, #fae206);
    color: #151515;
}

input.edit-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

input.add-btn {
    background: linear-gradient(135deg, #f54ea2, #ff7676);
    color: #fff;
}

input.add-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 0;
    padding: 0;
}

.sidebar ul li a.menu-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #ccc;
    text-decoration: none;
    border-left: 3px solid transparent;
    transition: 0.2s;
}

.sidebar ul li a.menu-link:hover {
    color: #fff;
}

.sidebar ul li a.menu-link.active {
    color: white;
    background-color: #353232;
    border-left: 3px solid red;
}

.sidebar ul li a.menu-link i {
    margin-right: 8px;
    color: #aaa;
}

.sidebar ul li a.menu-link:hover i,
.sidebar ul li a.menu-link.active i {
    color: #fff;
}

.sidebar ul>li>a.menu-link {
    font-size: 16px;
    font-weight: 500;
}

.sidebar ul li.menu-parent>.menu-parent-title {
    display: flex;
    align-items: center;
    padding: 10px 28px;
    cursor: pointer;
    color: #ccc;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.sidebar ul li.menu-parent>.menu-parent-title i {
    margin-right: 12px;
}

.sidebar ul li.menu-parent>.menu-parent-title:hover {
    border-left: 3px solid #e53935;
    color: #fff;
    transform: scale(1.15);
}

.sidebar ul li.menu-parent ul.submenu {
    display: none;
    list-style: none;
    padding-left: 15px;
    background-color: #1a1a1a;
}

.sidebar ul li.menu-parent:hover ul.submenu {
    display: block;
}

.sidebar ul li.menu-parent ul.submenu li a.menu-link {
    display: block;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.sidebar ul li.menu-parent ul.submenu li a.menu-link:hover {
    border-left: 3px solid #e53935;
    color: #fff;
    transform: scale(1.15);
    transition: all 0.2s ease;
}

.sidebar ul li.menu-parent.active ul.submenu {
    display: block;
}

.sidebar ul li.menu-parent.active>.menu-parent-title {
    border-left: 3px solid #e53935;
    color: #fff;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        min-height: auto;
    }

    .sidebar {
        width: 100%;
        min-height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .sidebar h2 {
        display: none;
    }

    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .sidebar ul li {
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .sidebar ul li a.menu-link {
        border: none;
        padding: 10px 15px;
        justify-content: center;
    }

    .sidebar ul li a.menu-link.active {
        border-left: none;
        background-color: #e53935;
        color: white;
    }

    .sidebar ul li.menu-parent ul.submenu {
        display: none !important;
    }
}

.status-public,
.status-report,
.status-waiting,
.status-reject {
    font-weight: bold;
    min-width: 80px;
}

.status-public {
    color: #00e000;
}

.status-waiting {
    color: #ffc107;
}

.status-report {
    color: #ff3333;
}
.status-reject {
    color: #e40eb6;
}
.account-fieldset {
    width: 95%;
    margin: 30px auto;
    padding: 20px 25px;
    border: 2px solid #e53935;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.account-fieldset legend {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 0 12px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stats {
    font-size: 18px;
    font-weight: 500;
    color: #ccc;
}

strong {
    font-weight: 500;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 6px;
}

.search-box form {
    display: flex;
    align-items: center;
    gap: 6px;
}

.search-group-styled {
    display: flex;
    align-items: center;
    width: 300px;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #555;
    transition: border-color 0.2s;
}

.search-bar-styled {
    flex: 1;
    padding: 8px 10px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-btn-styled {
    height: 100%;
    padding: 8px;
    background-color: #e53935;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.search-btn-styled:hover {
    background-color: red;
}

.search-group-styled:focus-within {
    border-color: #ff5252;
}

select {
    border: 2px solid #555;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 0 2px;
    background: #1e1e1e;
    color: #fff;
}

select option {
    background: #1e1e1e;
    color: #fff;
}

.table-container {
    width: 100%;
    margin: 0 auto;
    min-width: 700px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    color: #fff;
}

.table-wrapper {
    margin-top: 10px;
    border: 1px solid #e53935;
    border-radius: 12px;
    overflow: hidden;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
}

tr {
    border-bottom: 2px solid black;
}

th {
    background-color: #97110e;
    color: #fff;
}

.table-container table td:nth-child(3) {
    width: 350px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-container table td:nth-child(2) {
    width: 250px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-container table td:nth-child(4) {
    width: 200px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-container table tbody tr:nth-child(odd) {
    background-color: #1e1e1e;
}

.table-container table tbody tr:nth-child(even) {
    background-color: #282828;
}

.table-container table tbody tr:hover {
    background-color: #443232;
    transition: background-color 0.15s ease;
}

th:last-child {
    border-right: none;
}

tr:hover {
    background-color: #3a3a3a;
}

.actions {
    display: flex;
    gap: 8px;
}

.btn-edit,
.btn-save-role {
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
}

.btn-edit {
    color: white;
    background-color: rgb(3, 3, 143);
}

.btn-edit:hover {
    background-color: rgb(23, 23, 243);
}

a.btn-edit:hover {
    text-decoration: none;
}

.role-select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-width: 100px;
}

.btn-save-role {
    color: black;
    background-color: #015314;
}

.btn-save-role:hover {
    background-color: #00ff3c;
}

.actions button {
    margin-right: 5px;
}

.alert-error {
    color: #f48583;
    font-size: 17px;
}

.alert-success {
    color: #84e286;
    font-size: 17px;
}

.status-tag {
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
}

.status-active {
    color: #00e000;
}

.status-inactive {
    color: #ff3333;
}

.btn-lock {
    background-color: #8d150d;
    color: black;
}

.btn-lock:hover {
    background-color: #ff0000;
}

.btn-unlock {
    background-color: rgb(134, 134, 3);
    color: black;
}

.btn-unlock:hover {
    background-color: rgb(255, 255, 0);
}

.actions .btn-action {
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}